
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #ced1d4;

}
header{
    display: flex;
    flex-wrap: nowrap;    
    font-family: 'Turret Road', cursive;
    width: 100%;
    background-image: url(../img/747886.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    padding: 0px;
}
header article{
    width: calc(33% - 20px);
    padding: 11px;
    font-size: x-large;
    color: beige;
    position: relative;
}

.seccionesHeader1 div{
    position: relative;
    height: auto;
    width: 17%;
}
.seccionesHeader1 div img{
    position: absolute;
    max-width: 100%;
    

}

form{
    
    position: relative;
    top: 21%;
}
.buscar{
    text-decoration: none;
    color: beige;
    background-color: #FB9923;
    border-radius: 15px;
    border: 2px solid #FB9923;
    left: 81%;
    font-size: small;
    position: relative;
    padding: 8px;
    top: -30%;
}
#miBusqueda{
    padding: 7px;
    border-radius: 15px;
    width: 80%;
    position: relative;
}
#iconoLupa{
    
    position: absolute;
    width: 7%;
    height: auto;
    left: 70%;
    top: 10%;
  }
#iconoLupa img{
    max-width: 100%;
}
#carrito{
    position: relative;
    width: 50px;
    top: 21%;
    left: 83%;
}
#carrito img{
    max-width: 100%;
}
#contador{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e64d3c;
    border-radius: 50%;
    text-align: center;
    font-size: initial;
    left: 75%;
    
}

h1{
    color: rgb(226, 219, 219);
}

nav{
    background-color:#6AA5D9;
    
    
    
}

.menu{
    display: flex;
}

li{
  
    float:left;
 
}
.menu li{
    
    list-style: none;
    
}
.menu a{
    color: bisque;
    text-decoration: none;
    padding: 10px;
}
.menu a:hover{
    color: #D99C52;
    text-decoration: none;

}


.slider{
    display: flex;
    background-image: url(../img/people-2557396_1920.jpg);
    justify-content: space-between;
    background-size: cover;
    padding: 133px;
}
.slider h3{
    position: absolute;
    background: beige;
    top: -75%;
}
.slider article {
    width: calc(50% - 20px);
    position: relative;
  }
  .flecha1 img{
      max-width: 100%;
  }
  .flecha2 img{
    max-width: 100%;
}
.flecha1{
width: 20%;
}
.flecha2{
    width: 20%;
    position: absolute;
    left: 83%;

}
  


.flechaDerecha2{
    background-image: url(../img/flecha-derechaChica.png);
    background-size: cover;
    position: absolute;
    height: 85px;
    width: 68px;
    top: 2280px;
    left: 1261px;
}

h2{
 text-align: left;
   
  
}

h3{
   text-align: left;
}

h4{
    text-align: left;
}
.pasosTitulo{
    background-color: beige;
    position: absolute;
}
.contenedorPasos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 70px;
}
.contenedorPasos img{
    max-width: 100%;

}
.contenedorImagen{
    position: relative;
}
.contenedorPasos article{
    width: calc(30% - 20px);
    
    
}
.contenedorImagen h4{
    position:absolute;
    right: 0;
    bottom:20px;
    padding: 7px;
    background-color: beige;
}
    
.contenedorCursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
}
.contenedorCursos img{
    max-width: 100%;
}
.contenedorCursos article{
    width:calc(30% - 20px);
    margin-top:20px;
    margin-bottom:20px;
    background-color: beige;
}
.contenedorImagen{
    position:relative;
}
.contenedorImagen h4{
    position: absolute;
    right:0;
    bottom:20px;
    background-color:#000;
    color:#ccc;
    padding:7px;
}
.tituloDestacados{
    background-color: beige;

    position: absolute;
}

.contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.contenedorTarjetasImg{
    position:relative;
}
.contenedorTarjetas img{
    max-width: 100%;
}
.contenedorTarjetas article{
    width:calc(6% - 10px);

    margin-top:20px;
    margin-bottom:20px;

}
.tituloMedios{
    position: absolute;
    background-color: beige;
}
.infoCursos{
    display: flex;
    justify-content: space-between;
}
.textoDerecha{
    text-align:right;
    padding:7px;
}
.boton{
    background-color: #1695ac;
    padding: 7px;
    border-radius: 7px;
    color:#fff;
    text-decoration:none;
}

footer{
  
   padding: 20px; 
}
.contenedorFooter{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap; 
    
}
.contenedorFooter img{
    max-width: 100%;
}
.contenedorFooter article{
    width: calc(30% - 20px);
position: relative;
display: flex;
justify-content: space-between;

}


 .contenedorRedesImg div{
    position:relative;
 }
 


 
 .menuSuperior li{
     list-style: none;
     float: none;
 }
 #campoContacto{
    font-size: 15px;
    padding: 15px;
    right: 50px;
    border-radius: 20px 20px 20px 20px;
    width: 662px;
}
#areaContacto{
    border-radius:  20px 20px 20px 20px;

}
#enviar{
    position: relative;
    left: 575px;
    border-radius: 14px;
    font-size: 24px;
    padding: 8px;
    background: #1695ac;
    color: beige;
}
#areaDerecha{
    position: absolute;
    border-radius: 20px 20px 20px 20px;
    top: 17px;
    left: 693px;
    padding: 2px;
}
.ubicacion{
    color: rgb(80, 88, 95);
    text-align: center;

}
#ubicacion{

    position: relative;
    background-image: url(../img/ubicacion.png);
    background-size: cover;
    top: 50px;
    padding: 249px;
    margin-left: 20px;
    margin-right: 20px;
}
.contactoTitulo{
    font-size: 35px;
    color: rgb(80, 88, 95);
    margin: 20px;
}
#formulario{
    position: relative;
    left: 0px;
    top: 19px;
    margin: 20px;
}
.datosDeContacto{
    position: relative;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 493px;
    width: 600px;
    left: 723px;
    top: -565px;
}
.seccionContacto{
    height: 750px;
}
.contenedorImagenTituloCurso{
    display: flex;
    justify-content: space-around;
    padding-bottom: 29px;
    padding-top: 29px;

}
.contenedorImagenTituloCurso article{
    position: relative;
    width: calc(30% - 20px);
}
.contenedorImagenTituloCurso img{
    max-width: 84%;
}
.contenedorImagenTituloCurso h3{
    position: relative;
}
.contenidoPorClase{
    text-align: center;
}
.grid{
    display: grid;
         
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px;
    justify-items: center;
    align-items: stretch;
    height: 221px;
    justify-content: stretch;
    align-content: center;
   
}
.a { background:beige;
border: 1px solid rgba(88, 87, 87, 0.815); }
.b {  background: #bbb7b7;
    border: 1px solid rgba(88, 87, 87, 0.815); }
.c {  background: #bbb7b7;
    border: 1px solid rgba(88, 87, 87, 0.815) }
.d {  background: #bbb7b7;
    border: 1px solid rgba(88, 87, 87, 0.815) }
.e {  background:#bbb7b7;
    border: 1px solid rgba(88, 87, 87, 0.815)}
.f {  background:beige;
    border: 1px solid rgba(88, 87, 87, 0.815)}
.g {  background:beige;
    border: 1px solid rgba(88, 87, 87, 0.815)}
.grid div{
    width: 440px;
    padding: 7px;
}
.a img{
    left: 274px;
    position: relative;
    top: 2px;
}
.b img {
    position: relative;
    top: 4px;
}
.reloj{
    left: 22px;
}
.c img{
    position: relative;
    top: 4px;
}
.relojC{
    left: 10px;
}

.verificacionB{
left:  31px;;
}
.verificacionC{
left: 40px;
}
.verificacionD{
    left:40px;
}
.verificacionE{
    left: 30px;
}
.d p{
    position: relative;
    left: 300px;
    top: -18px;
}
.d img{ 
    position: relative;
    top: 4px;
}
.e img{
    position: relative;
    top: 4px;
}
.f img{
    left: 312px;
    position: relative;
    top: 2px;
}
.g img{
    left:312px;
    position:relative;
    top:2px;
}
.checked {
    color: orange;
  }
  .grid2{
    display: grid;
    grid-template-columns: 150px 1050px;
    justify-items: stretch;
    align-items: stretch;
    height: 221px;
    justify-content: center;
    align-content: stretch;
}
.grid2A img{
    max-width: 100%;
}
.grid2 div{
    background: beige;
    border: 1px solid rgba(88, 87, 87, 0.815);
}
.docente{
    position: relative;
    left: 0px;
}
.contenedorCursos2 img{
    max-width: 100%;
}
.contenedorCursos2{

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 80px;
}
.contenedorCursos2 article{
    width: calc(25% - 20px);
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
}
.grid2A{
    padding: 20px;
}
.grid2B{
    padding: 20px;
}
.columnas{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.columnaIzquierda{
    flex: 50%;
    padding: 1em;

}
.columnaIzquierda h3{
    text-align: center;
}
.columnaDerecha{
    flex: 50%;
    padding: 4em;
}
.columnaDerecha h3{
    color: beige;
    background-color: rgba(247, 46, 31, 0.918);
}
.columnaDerecha h2{
    color: beige;
    background-color:rgba(247, 46, 31, 0.918);
}
.imagenGiftCard{
    position: relative;
}
.imagenGiftCard h4{
    position: absolute;
    color: beige;
    padding: 10px;
    background-color: rgba(247, 46, 31, 0.918);
    top: 50px;
    left: 513px;

}
.imagenGiftCard img {
        
    max-width: 100%;
    padding: 50px;
}
.formularioGift{
    top: 0%;
  
}
.formularioGift input{
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
    width: 545px;
}
.contenedorColores{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
   
}
.contenedorColores .color{
    width: calc(15% - 20px);
     padding: 1em;
}

.contenedorColores div img{
    max-width: 100%;
}
.contenedorPx{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.contenedorPx .px{
    width: calc(15% - 20px);
     padding: 1em;
}
.montogift{
    top: 0px;
}
.montogift  input{
    font-size: 12px;
    padding: 10px;
    border-radius: 15px;
    width: 465px;
}
.contenedorCheck{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

}
.contenedorCheck .check{
    width: calc(15% - 20px);
    padding: 25px;
}
.contenedorCheck .check img{
    max-width: 100%;
}
.contenedorUbicacion{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
   
}
.contenedorUbicacion .ubicacion{
    width: calc(40% - 10px);
    padding: 14px;
}
.contenedorUbicacion .ubicacion img{
    max-width: 100%;
}