
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #ced1d4;

}
header{
    
    font-family: 'Turret Road', cursive;
    font-size: 40px;
    background-image: url(../img/747886.jpg);
    background-size: cover;
    display: flex;
    padding: 25px;
}
#logo{ 
    position: relative;
    bottom: 62px;
    left: -43px;
    padding: 45px;
}
#logo img{
    position: absolute;
    max-width: 100%;
}
h1{
    color: rgb(226, 219, 219);
}

nav{
    background-color:#6AA5D9;
    display: flex; 
    justify-content: center;
    
    
}



li{
  
    float:left;
 
}
.menu li{
    
    list-style: none;
    
}
.menu a{
    font-weight: 600;
    font-size: 35px;
    color: bisque;
    text-decoration: none;
    padding: 20px;
}
.menu a:hover{
    color: #D99C52;
    text-decoration: none;

}

form{
    
    position: relative;
    left: 33px;
    top:19px;
    
}
.buscar{
    text-decoration: none;
    font-weight: 600;
    font-size: 23px;
    color: #ffffff;
    background-color: #D99C52;
    border-radius: 20px;
    border: 2px solid #D99C52;
    position: relative;
    left: 42px;
    height: 53px;
    top: 20px;
    width: 96px;
    padding: 10px;
}
#miBusqueda{
    font-size: 15px;
    padding: 15px;
    right: 50px;
    border-radius: 20px 20px 20px 20px;
    width: 500px;
}
#iconoLupa{
    position: absolute;
    display: flex;
    left: 856px;
    top: 50px;
    height: 42px;
    width: 44px;
  }
#iconoLupa img{
    max-width: 100%;
}
#carrito{
    position: absolute;
    padding: 40px;
    left: 1208px;
    top: 18px;
    background-image: url(../img/carro.png);
    background-size: cover;
}
#contador{
    position: relative;
    width: 29px;
    height: 28px;
    background-color: #e64d3c;
    border-radius: 50%;
    right: -297px;
    display: flex;
}
#contador p{
    font-size: 20px;
    position: absolute;
    left: 11px;
    top: 4px;

}
#slider{
    background-image: url(../img/people-2557396_1920.jpg);
    height: 720px;
    width: 1349px;
   
}
.comunidad{
    position: absolute;
    background-color: beige;
}
.flechaIzquierda {
    background-image: url(../img/flecha-hacia-la-izquierda.png);
    background-size: cover;
    position: absolute;
    height: 100px;
    width: 84px;
    top: 522px;
}
.flechaDerecha{
    background-image: url(../img/flecha-derecha.png);
    background-size: cover;
    position: absolute;
    height: 100px;
    width: 84px;
    top: 522px;
    left:1245px;
}
.flechaIzquierda2 {
    background-image: url(../img/flecha-hacia-la-izquierdaChica.png);
    background-size: cover;
    position: absolute;
    height: 85px;
    width: 68px;
    top: 2280px;
}
.flechaDerecha2{
    background-image: url(../img/flecha-derechaChica.png);
    background-size: cover;
    position: absolute;
    height: 85px;
    width: 68px;
    top: 2280px;
    left: 1261px;
}

h2{
 text-align: left;
   
  
}

h3{
   text-align: left;
}

h4{
    text-align: left;
}
.pasosTitulo{
    background-color: beige;
    position: absolute;
}
.contenedorPasos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 70px;
}
.contenedorPasos img{
    max-width: 100%;

}
.contenedorImagen{
    position: relative;
}
.contenedorPasos article{
    width: calc(30% - 20px);
    
    
}
.contenedorImagen h4{
    position:absolute;
    right: 0;
    bottom:20px;
    padding: 7px;
    background-color: beige;
}
    
.contenedorCursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px;
}
.contenedorCursos img{
    max-width: 100%;
}
.contenedorCursos article{
    width:calc(30% - 20px);
    margin-top:20px;
    margin-bottom:20px;
    background-color: beige;
}
.contenedorImagen{
    position:relative;
}
.contenedorImagen h4{
    position: absolute;
    right:0;
    bottom:20px;
    background-color:#000;
    color:#ccc;
    padding:7px;
}
.tituloDestacados{
    background-color: beige;

    position: absolute;
}

.contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.contenedorTarjetasImg{
    position:relative;
}
.contenedorTarjetas img{
    max-width: 100%;
}
.contenedorTarjetas article{
    width:calc(6% - 10px);

    margin-top:20px;
    margin-bottom:20px;

}
.tituloMedios{
    position: absolute;
    background-color: beige;
}
.infoCursos{
    display: flex;
    justify-content: space-between;
}
.textoDerecha{
    text-align:right;
    padding:7px;
}
.boton{
    background-color: #1695ac;
    padding: 7px;
    border-radius: 7px;
    color:#fff;
    text-decoration:none;
}

footer{
  
   padding: 20px; 
}
.contenedorFooter{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap; 
    
}
.contenedorFooter img{
    max-width: 100%;
}
.contenedorFooter article{
    width: calc(30% - 20px);
position: relative;
display: flex;
justify-content: space-between;

}


 .contenedorRedesImg div{
    position:relative;
 }
 


 
 .menuSuperior li{
     list-style: none;
     float: none;
 }